.root {
    -fx-background-color: rgb(154, 154, 154);
    -fx-background-radius: 5px;
    display : flex;
    flex-direction : column;
    align-items : center;
    justify-content : center;
    -fx-font-size: 18px;
}
.table-view {
    -fx-background-color: rgba(11, 255, 226, 0.3);
    -fx-border-color: #000000;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}
.table-row-cell {
    -fx-background-color: rgba(0, 0, 0, 0.7);
    -fx-font-weight: bold;
    -fx-text-fill: whitesmoke;
    -fx-font-size: 18px;
    -fx-font-family: "Arial";
}
.table-column {
    -fx-text-fill: whitesmoke;
    -fx-font-size: 18px;
    -fx-font-family: "Arial";
}
.check-box {
    -fx-background-color: #ffffff;
    -fx-text-fill: #000000;
    -fx-font-size: 18px;
    -fx-font-family: "Arial";
}
.button {
    -fx-background-color: #ffffff;
    -fx-border-color: #000000;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-text-fill: #000000;
    -fx-font-size: 18px;
    -fx-font-family: "Arial";
    -fx-padding: 5px;
}
.button:hover {
    -fx-background-color: #000000;
    -fx-text-fill: #ffffff;
    -fx-cursor: hand;
}
.button:pressed {
    -fx-background-color: #000000;
    -fx-text-fill: #ffffff;
}
.label {
    -fx-text-fill: #000000;
    -fx-font-size: 18px;
    -fx-font-family: "Arial";
}
.text-field {
    -fx-background-color: #ffffff;
    -fx-border-color: #000000;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-text-fill: #000000;
    -fx-font-size: 18px;
    -fx-font-family: "Arial";
    -fx-padding: 5px;
}